* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  //10px = 1rem
  background-color: gray;
}

// MEDIA QUERY MANAGER
/*
480 - 768px:    Tablet portrait
768 - 1024px:   Tablet landscape
1024 - 1280px:  small-desktop
1280 - 1568px:  medium-desktop
1568 - 1800px:  large-desktop


$breakpoint arguement choices:
- tab-port
- tab-land
- s-desktop
- m-desktop
- l-desktop

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == tab-port {
    @media only screen and (min-width: 48em) {
      @content;
    } //768px
  }
  @if $breakpoint == tab-land {
    @media only screen and (min-width: 64em) {
      @content;
    } //1024px
  }
  @if $breakpoint == s-desktop {
    @media only screen and (min-width: 80em) {
      @content;
    } //1280px
  }
  @if $breakpoint == m-desktop {
    @media only screen and (min-width: 98em) {
      @content;
    } //1568px
  }

  @if $breakpoint == l-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800px+
  }
}

//VARIABLES
$color-primary-white: #ffffff;
$color-primary-gold: #f4b522;
$color-primary-black-background: #0a0001;
$primary-color-gray-font: #7a7a7a;

.container-fluid {
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: column;
  color: $primary-color-gray-font;
  font-size: 3.2rem;
 // border-bottom: $color-primary-gold solid 0.2rem;
  @include respond(s-desktop) {
    height: 13vh;
    flex-direction: row;
    font-size: 2.1rem;
  }

  //LOGO
  &-brand {
    display: flex;
    justify-content: center;
    background-color: $color-primary-black-background;
    border-bottom: $color-primary-gold solid 0.3rem;
    @include respond(s-desktop) {
      flex: 0 20%;
    }
    &__logo {
      width: 100%;
      height: auto;
      @include respond(s-desktop) {
        height: 100%;
        width: auto;
      }
    }
  }

  //MOBILE MENU TOGGLE BUTTON
  &-mobile-button {
    position: absolute;
    right: 5%;
    top: 3%;
    background-color: transparent;
    border: none;
    font-size: 4rem;
    z-index: 2500;
    @include respond(tab-port) {
      font-size: 7rem;
      top: 5%;
    }
    @include respond(s-desktop) {
      display: none;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 7rem;
        height: 4.6rem;
        -webkit-tap-highlight-color: #00000000;
        input { 
            opacity: 0;
            width: 0;
            height: 0;
          }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: transparent;
            -webkit-transition: .4s;
            transition: .4s;
            border: $color-primary-gold solid 0.4rem;
            &:before {
                position: absolute;
                content: "";
                height: 3.6rem;
                width: 3rem;
                left: -0.3rem;
                bottom: -0.3rem;
                background-color: $color-primary-black-background;
                -webkit-transition: .4s;
                transition: .4s;
                border: $color-primary-gold solid 0.3rem;
              }
        }  

        input:checked + .slider {
            background-color: $color-primary-gold;
            
          }
                    
          input:checked + .slider:before {
            -webkit-transform: translateX(3.3rem);
            -ms-transform: translateX(3.3rem);
            transform: translateX(3.3rem);
          }
          
          /* Rounded slider */
          .slider.round {
            border-radius: 3.4rem;
          }
          
          .slider.round:before {
            border-radius: 50%;
          }
      }

  }

.toggle{
    display: block;
}
//navbar-collape
  &-collapse {
  }
//navbar-collaped  
  &-collapsed {
   // display: none;
  }

  //NAVIGATION MENU
  &-menu {
    display: none;
    background-color: $color-primary-black-background;
    border-bottom: $color-primary-gold solid 0.3rem;

    @include respond(tab-port) {
      width: 42%;
    }
    @include respond(s-desktop) {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      visibility:visible;
    }

    &__list {
      @include respond(s-desktop) {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-right: 5rem;
      }
    }

    .nav-item {
      list-style-type: none;
      @include respond(s-desktop) {
        padding: 0;
        position: relative;
      }
      a {
        display: block;
        text-decoration: none !important;
        color: #efefef;
        padding: 1.5rem 0 1.5rem 1rem;
        width: 100%;
        height: 100%;
        @include respond(s-desktop) {
          padding: 1rem;
        }
      }
    }

    .drop-icon {
      color: $color-primary-gold;
    }



    .dropdown {
      li {
        border-bottom: #80808023 dashed 0.1rem;
        &:hover {
          background-color: #ffffff13;
          a {
            color: $color-primary-gold;
          }
        }
      }
    }

    .dropdown-menu {
      font-size: 3rem;
      display: none;
      @include respond(s-desktop) {
        font-size: 2rem;
        background-color: $color-primary-black-background;
        position: absolute;
        top: 125%;
        min-width: 22rem;
        width: 100%;
        &::before {
          //content: "";
          //position: absolute;
          //background-color: red !important;
        }
      }
    }

    .dropdown-submenu {
      //background-color: #6d6767;
      background-color: $color-primary-black-background;
      width: 88%;
      font-size: 2.6rem;
      border-bottom: goldenrod dashed 0.1rem;
      border-left: goldenrod dashed 0.1rem;
      // display: none;
      min-width: 23rem;
      margin: auto;
      position: relative;
      @include respond(s-desktop) {
        font-size: 1.9rem;
        position: absolute;
        left: 100%;
        top: 0;
        border: none;
      }
      &::before {
        content: "";
        position: absolute;
        top: -1rem;
        left: -0.7rem;
        border: 0.7rem solid transparent;
        border-bottom-color: goldenrod;
        @include respond(s-desktop) {
          border: none;
        }
      }
    }

    .nav-submenu-item {
        position: relative;
      }
  
  }
}

