        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        html {
            font-size: 10px;
            /* 10px = 1rem */
        }
        
        body {
            font-size: 1.6rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        #contact-card{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        #contact-card div{
            padding: 4rem;
            margin: 1.7rem;
            border-radius: 1rem;
            background-color: rgba(100, 100, 100, 0.301);
        }

        .shadow{
            -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
        }
      